<div role="feed" class="van-list">
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">2.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;16 Mar 2022, 11:39 am</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220124451</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b>Chờ</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Thời gian mở bán</span>
                    <b>Chờ</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(234, 58, 240);">Tím</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>1.900</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>100</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">500.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;13 Jan 2022, 20:04 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220123402</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.731</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">1</b> Xanh
                    </b>
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>490.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>10.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 490.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 13 Jan 2022, 20:06 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">12.000.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;13 Jan 2022, 18:42 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220123375</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(30, 184, 63);">Thành công</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.812</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <b style="color: rgb(245, 41, 38);">
                            <b style="color: rgb(0, 122, 204);">2</b> Đỏ
                    </b>
                    <!--Xanh-->
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>11.760.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>240.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(30, 184, 63);">
                        <b>+</b> 11.760.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 13 Jan 2022, 18:45 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">4.000.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;13 Jan 2022, 18:39 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220123374</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.463</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">3</b> Xanh
                    </b>
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>3.920.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>80.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 3.920.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 13 Jan 2022, 18:42 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">1.500.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;13 Jan 2022, 18:36 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220123373</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.695</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <!--Xanh tím-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">5</b> Xanh
                    <b style="color: rgb(232, 57, 241);">Tím</b>
                    </b>
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>1.470.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>30.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 1.470.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 13 Jan 2022, 18:39 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">500.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;13 Jan 2022, 18:33 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220123372</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.791</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">1</b> Xanh
                    </b>
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>490.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>10.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 490.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 13 Jan 2022, 18:36 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">300.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:21 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121408</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(30, 184, 63);">Thành công</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.862</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <b style="color: rgb(245, 41, 38);">
                            <b style="color: rgb(0, 122, 204);">2</b> Đỏ
                    </b>
                    <!--Xanh-->
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>288.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>12.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(30, 184, 63);">
                        <b>+</b> 288.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:24 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">100.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:19 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121407</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.235</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <!--Xanh tím-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">5</b> Xanh
                    <b style="color: rgb(232, 57, 241);">Tím</b>
                    </b>
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>96.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>4.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 96.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:21 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">2.400.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:15 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121406</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(30, 184, 63);">Thành công</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.767</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">7</b> Xanh
                    </b>
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(30, 184, 63);">Xanh</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>2.304.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>96.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(30, 184, 63);">
                        <b>+</b> 2.304.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:18 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">800.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:12 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121405</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.461</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">1</b> Xanh
                    </b>
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>768.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>32.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 768.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:15 pm</span>
        </div>
    </div>
    <script>
        $('.complaints').click(function() {
            window.location = '../member/complaint/help';
        });
    </script>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">300.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:21 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121408</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(30, 184, 63);">Thành công</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.862</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <b style="color: rgb(245, 41, 38);">
                            <b style="color: rgb(0, 122, 204);">2</b> Đỏ
                    </b>
                    <!--Xanh-->
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>288.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>12.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(30, 184, 63);">
                        <b>+</b> 288.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:24 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">100.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:19 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121407</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.235</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <!--Xanh tím-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">5</b> Xanh
                    <b style="color: rgb(232, 57, 241);">Tím</b>
                    </b>
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>96.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>4.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 96.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:21 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">2.400.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:15 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121406</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(30, 184, 63);">Thành công</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.767</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">7</b> Xanh
                    </b>
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(30, 184, 63);">Xanh</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>2.304.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>96.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(30, 184, 63);">
                        <b>+</b> 2.304.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:18 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">800.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:12 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121405</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.461</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">1</b> Xanh
                    </b>
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>768.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>32.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 768.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:15 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">300.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:10 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121404</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.361</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">1</b> Xanh
                    </b>
                    <!--Xanh tím-->
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>288.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>12.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 288.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:12 pm</span>
        </div>
    </div>
    <div class="order-box">
        <div class="top">
            <em>₫</em>
            <span class="money">100.000</span>
            <div>kim ngạch thỏa thuận </div>
            <span class="time" style="background: none;letter-spacing: 0;">Thời gian khởi tạo&nbsp;11 Jan 2022, 20:07 pm</span>
        </div>
        <div class="other">
            <div class="left">
                <div class="item flex-box">
                    <span class="auto">Giai đoạn</span>
                    <!--Giai đoạn-->
                    <b>20220121403</b>
                    <!--Giai đoạn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Trạng thái</span>
                    <!--trạng thái-->
                    <b style="color: rgb(245, 41, 38);">Thất bại</b>
                    <!--trạng thái-->
                </div>
                <div class="item flex-box">
                    <!--Giá mở bán-->
                    <span class="auto">Giá mở bán</span>
                    <b>205.985</b>
                    <!--Giá mở bán-->
                </div>
                <div class="item flex-box">
                    <!--Kết quả-->
                    <span class="auto">Kết quả</span>
                    <!--Đỏ-->
                    <!--Xanh-->
                    <!--Xanh tím-->
                    <b style="color: rgb(30, 184, 63);">
                            <b style="color: rgb(0, 122, 204);">5</b> Xanh
                    <b style="color: rgb(232, 57, 241);">Tím</b>
                    </b>
                    <!--Đỏ tím-->
                    <!--Kết quả-->
                </div>
            </div>
            <div class="right">
                <div class="item flex-box">
                    <span class="auto">Chọn</span>
                    <!--Chọn-->
                    <b style="color: rgb(245, 41, 38);">Đỏ</b>
                    <!--Chọn-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Giao hàng</span>
                    <!--Giao hàng-->
                    <b>96.000</b>
                    <!--Giao hàng-->
                </div>
                <div class="item flex-box">
                    <span class="auto">Phí dịch vụ</span>
                    <!--Phí dịch vụ-->
                    <b>4.000</b>
                    <!--Phí dịch vụ-->
                </div>
                <div class="item flex-box">
                    <!--Số lượng-->
                    <span class="auto">Số lượng</span>
                    <b style="color: rgb(245, 41, 38);">
                        <b>-</b> 96.000</b>
                    <!--Số lượng-->
                </div>
            </div>
        </div>
        <div class="end-time">
            <button class="van-button van-button--default van-button--small complaints">
            <div class="van-button__content">
                <span class="van-button__text">Khiếu nại &nbsp;&nbsp;&gt;</span>
            </div>
        </button>
        </div>
        <div class="end-time">
            <span class="auto">Thời gian dừng 11 Jan 2022, 20:09 pm</span>
        </div>
    </div>
    <script>
        $('.complaints').click(function() {
            window.location = '../member/complaint/help';
        });
    </script>
</div>