<div data-v-04e3b381="" class="orders">
    <div data-v-04e3b381="" class="title">
        <span data-v-04e3b381="">Woipy Lịch sử đặt hàng</span>
        <a data-v-04e3b381="" href="/paritycat">Thêm &gt;</a>
    </div>
    <div data-v-04e3b381="" style="margin: 0px 14px; text-align: center;">
        <!---->
    </div>
    <div data-v-3978cf5e="" data-v-04e3b381="" class="container">
        <div data-v-3978cf5e="" class="header van-row van-row--flex">
            <div data-v-3978cf5e="" class="header__noe van-col van-col--9"> Giai đoạn</div>
            <div data-v-3978cf5e="" class="van-col van-col--5">Giá</div>
            <div data-v-3978cf5e="" class="van-col van-col--5">điểm số</div>
            <div data-v-3978cf5e="" class="header__child van-col van-col--5">Kết quả</div>
        </div>
        <div data-v-3978cf5e="" role="feed" class="van-list">
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317227</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">205.037</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="content__anodd">7</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__anodd"></div>
                        <div data-v-3978cf5e="" class="point-box__add"></div>
                    </div>
                </div>
            </div>
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317226</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">205.013</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="content__anodd">3</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__anodd"></div>
                        <div data-v-3978cf5e="" class="point-box__add"></div>
                    </div>
                </div>
            </div>
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317225</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">205.010</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="conten__aneven">0</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__aneven"></div>
                        <div data-v-3978cf5e="" class="point-box__aliquot"></div>
                    </div>
                </div>
            </div>
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317224</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">205.026</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="conten__aneven">6</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__aneven"></div>
                        <div data-v-3978cf5e="" class="point-box__add"></div>
                    </div>
                </div>
            </div>
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317223</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">205.010</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="conten__aneven">0</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__aneven"></div>
                        <div data-v-3978cf5e="" class="point-box__aliquot"></div>
                    </div>
                </div>
            </div>
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317222</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">204.997</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="content__anodd">7</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__anodd"></div>
                        <div data-v-3978cf5e="" class="point-box__add"></div>
                    </div>
                </div>
            </div>
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317221</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">204.993</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="content__anodd">3</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__anodd"></div>
                        <div data-v-3978cf5e="" class="point-box__add"></div>
                    </div>
                </div>
            </div>
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317220</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">204.992</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="conten__aneven">2</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__aneven"></div>
                        <div data-v-3978cf5e="" class="point-box__add"></div>
                    </div>
                </div>
            </div>
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317219</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">205.013</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="content__anodd">3</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__anodd"></div>
                        <div data-v-3978cf5e="" class="point-box__add"></div>
                    </div>
                </div>
            </div>
            <div data-v-3978cf5e="" class="content van-row van-row--flex van-row--justify-center">
                <div data-v-3978cf5e="" class="header__noe van-col van-col--9">20220317218</div>
                <div data-v-3978cf5e="" class="van-col van-col--5">205.015</div>
                <div data-v-3978cf5e="" class="van-col van-col--5"><b data-v-3978cf5e="" class="content__anodd">5</b></div>
                <div data-v-3978cf5e="" class="header__child point van-col van-col--5">
                    <div data-v-3978cf5e="" class="point-box">
                        <div data-v-3978cf5e="" class="point-box__anodd"></div>
                        <div data-v-3978cf5e="" class="point-box__aliquot"></div>
                    </div>
                </div>
            </div>
            <div class="van-list__placeholder"></div>
        </div>
    </div>
</div>